<form action="/contactme" method="post">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <label for="email">Email adress:</label><br>
  <input type="text" id="email" name="email" value="john.doe@email.com"><br><br>
  <label for="object">Object of your request :</label><br>
  <input type="text" id="object" name="object" value="Write the object of your request here."><br><br>
  <label for="message">Your message:</label><br>
  <textarea id="message" name="message" rows="15" cols="100">
    Write the message of your request here.
    </textarea>
  <input type="submit" value="Submit">

</form>

<br />

<form>
  <input type="button" value="Go back!" onclick="history.back()">
</form>