<head>
    <title>Welcome to WYM</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/dark-theme.css">
</head>

<body>
    <img src="/static/mypng.png" alt="header" width="400" height="400"><br><br>
    <h1>Welcome to WYM</h1>

    <p>
        Here at What's Your Mood (WYM for short), we offers an advance tool to create
        a short version of the text you submit.
    </p>

    <p>
        Our premium users also have access to a complementary service in order to
        analyse the sentiments in the text they submit, letting them know if the
        text submitted is positive or negative.
    </p>

    <p>
        If you want to know more about us or let us know more about you, you can click on :
    </p>
    <p><a href="http://127.0.0.1:5000/about">To know more about us.</a></p>
    <p><a href="http://127.0.0.1:5000/contact">To let us know about you.</a></p>